body{
    margin: 0;
}
.signin{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-color: black;
}
input::placeholder{
    color: white;
    background: transparent;
}
.form-control{
    width: 300px;
    background: transparent;
    color: white;
    margin: 30px 0
}
.btn{
    margin: 10px;
    margin-top: 10px;
    width: 100%;

    margin-bottom: 10px;
}
.p{
    margin: 10px 0;
    text-align: center;
}