body{
    background-color: black;
    color: white;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 50%;
    margin: 40px 0;
}
.table{
    color: white;
    
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.col-md-12{
    border: 2px solid white;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 5px 10px rgb(24, 21, 21);
}
.item{
    display: flex;
    justify-content: space-between;
}
/* .btn{
    padding: 0;
} */
.form{
    display: flex;
}